<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create S3 Bucket</title>
    <style>
        body {
            display: grid;
            place-items: center;
        }
    </style>
</head>

<body>
    <h1>Create S3 Bucket</h1>
    <form action="/create" method="post" enctype="multipart/form-data">
        <input type="text" name="bucket" id="" required>
        <input type="submit" value="create" />
    </form>
</body>

</html>